.root{
    text-align:center;
    background-color:#31d472;
    width:50%;
    height:auto;
    justify-content: center;
margin: 20px auto;

}
.root>input{
    margin: 5px;
}
.root>button{
    background-color: blueviolet;
    margin-bottom :10px; 
    color:white

}

.root>h1

